extends layout

block content
  h1= title
  p.lead #{app} is your spot for voter information available through public sources.  We believe that information being provided by our government and used by political organizations should be just as available to citizens.

  h3 Find out if your vote counted
  form
    input.input-block-level(type="text", id="voter", autofocus, placeholder="Find your voting profile")

  ul#voters.unstyled

block scripts
  != js('jquery')
  != js('index')
