extends layout

block content
  h1= title
  p.lead #{app} is your spot for voter information available through public sources.  We believe that information being provided by our government and used by political organizations should be just as available to citizens.

  .row-fluid
    form#search.span6(method="get", action="/")
      h3 Find out if your vote counted
      input(type="text", id="voter", autofocus, placeholder="voter name", autocomplete="off")

  div
    table.table.table-striped.table-hover
      tbody#voters

    p.muted We limit the results to #{resultslimit}.  If you're looking for more, please narrow your search.
block scripts
  != js('jquery')
  != js('index')
