extends layout

block content
  .row-fluid(style="padding-top: 51px")
    .hero-unit
      .row
        img.pull-right(src="/img/countmyvote_logo_medium.png")
        h1= title
        p.lead 
          | At #{app} we believe transparency requires making information accessible, not just available.  So when we 
          | found out some voter activity is 
          a(href="/about") publicly 
          | available we wanted to make it accessible to more than those with an IT budget.

  .row-fluid
    h3 Find out if your vote counted
    form#search(method="get", action="/")
        input(type="text", id="q", name="q", autofocus, placeholder="search (i.e. smith james)", autocomplete="off", class="input-xxlarge")

  div
    table.table.table-striped.table-hover
      tbody#voters

    p.muted We limit the results to #{resultslimit}.  If you're looking for more, please narrow your search.
block scripts
  != js('jquery')
  != js('index')
