doctype 5
html
  head
    title= title
    != css('bootstrap')
    != css('bootstrap-responsive')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    .container-fluid
      block content

    block scripts
