doctype 5
html
  head
    title= title
    != css('bootstrap')
    != css('bootstrap-responsive')
    != css('style')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse") 
            img(src='/img/countyourvote_header.png')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href="/") 
            img(src='/img/countyourvote_logo_header.png') 
            |  Count Your Vote!
          .nav-collapse.collapse
            .nav

    .container-fluid(style="padding-top: 51px")
      block content

    block scripts
    !=js('bootstrap-affix.js')
    !=js('bootstrap-alert.js')
    !=js('bootstrap-button.js')
    !=js('bootstrap-carousel.js')
    !=js('bootstrap-collapse.js')
    !=js('bootstrap-dropdown.js')
    !=js('bootstrap-modal.js')
    !=js('bootstrap-popover.js')
    !=js('bootstrap-scrollspy.js')
    !=js('bootstrap-tab.js')
    !=js('bootstrap-tooltip.js')
    !=js('bootstrap-transition.js')
    !=js('bootstrap-typeahead.js')
