extends layout

block content
  h1= voter.fullName()

  dl.dl-horizontal
    dt Voter id
    dd= voter.id

    dt Registered as a
    dd= voter.party

    dt City
    dd= voter.city

block scripts
  != js('jquery')
